body{background-image: url("lana.jpg"); background-size: 1920px,1080px;}
#para{height: 300px; width: 1910px; background-color: #FCE774;
box-shadow: 1px 1px 10px 10px #F38EAE}
audio{position: relative; top: 100px;}
